.navbar
  .ul.nav-justfuild.text-dark
    .li.nav-item
      %a.nab-link
        incident counter
      %a.nab-link
        home
      %a.nab-link
.Main
  .div.jumbotron.bg-secondary
  .container
  %button.btn.btn-outline-dark
    btn
  %button.btn.btn-outline-dark
    btn
  %button.btn.btn-outline-dark
    btn
  %button.btn.btn-outline-dark
    btn